main{
    width: 1000px;
    margin: auto;
    margin-top: 40px;
}

#excelHeading{
    background: #ff621f;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 10px;
}

#excelHeading img{
    width:80px;
}

#excelHeading h2{
    margin-left: 20px;
    font-size: 40px;
    color: #fff;
}

main table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 30px;
}

main table, td, tr, th{
    border: 2px solid #ff621f;
}

td, th{
    height: 35px;
}

th, td{
    font-size: 20px;
    color: #333;
}

td{
    font-size: 16px;
}