@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #e2e2e2;
}
header{
    background: #FF6E31;
    height: 65px;
}

header nav{
    width: 1000px;
    /* background: cyan; */
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header nav img{
    width: 80px;
}

header nav ul{
    list-style: none;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

header nav ul li{


    
    position: relative;
}

header nav ul li.Active::after{
    content: "";
    position: absolute;
    width: 150%;
    height: 4px;
    background: #fff;
    left: 0;
    transform: translateX(-15%);
    bottom: -7px;
}

#mainBox img{
    width: 50%;
    cursor: pointer;
}

#mainBox{
    background: #666666;
    margin: auto;
    margin-top: 70px;
    width: 1000px;
    padding: 50px;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    text-align: center;
}